<mat-accordion class="example-headers-align" multi>
    <!-- #enddocregion multi -->
    <mat-expansion-panel>
      <mat-expansion-panel-header  style="background-color: olive;">
        <!-- <div class="my-panel"  (click)="$event.stopPropagation();"> -->
          <h3>My Bookings !!!!</h3>
   <!-- <button mat-stroked-button (click)="myButton()">my button</button> -->
        <!-- </div> -->
      </mat-expansion-panel-header>
  
      <div><span>Please verify your Flight PNR to see your bookings.</span>
        <button mat-raised-button color="primary">Book Here</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  