<div class="container">
  <div class="lookings-item">
    <div class="item-list">
      
      <div class="item" style="background-color: rgb(252, 237, 236)">
        <a href="https://workdrive.zohoexternal.com/external/dbbaf1d89c235e3e835f01df5cc869bcb417953bfe712e71b2a97f6e9979d45c"
          target="_blank">
          <img src="../../assets/Flight Status2.webp" alt="Flight Status" />
          <p>Check Flight Status</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(252, 247, 236)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/LostFound.png" alt="Lost and Found" />
          <p>Lost and Found</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(239, 248, 253)">
        <a href="https://workdrive.zohoexternal.com/external/397817464051e13754dabef867368817eeb59957f875ff66e8471f53a8f1e5ff"
          target="_blank">
          <img src="../../assets/Waiting2.png" alt="Waiting Area" />
          <p>Place to Relax</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(255, 238, 238)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/CabServices.png" alt="Cab Services" />
          <p>Cab Services</p>
        </a>
      </div>
    </div>
    <div class="item-list">
      <div class="item" style="background-color: rgb(235, 238, 253)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/Immigration2.jpg" alt="Immigration" />
          <p>Immigration & Customs</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(240, 239, 253)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/Cargo3.png" alt="Cargo" />
          <p>Cargo Services</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(227, 255, 240)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/Parking3.jpg" alt="Parking" />
          <p>Parking Services</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(239, 248, 253)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/Restaurant3.jpg" alt="Restaurants and Cafes" />
          <p>Restaurants and Cafes</p>
        </a>
      </div>
      <!-- <div class="item" style="background-color: rgb(235, 250, 230)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/DependentChildrenPension.png" alt="Dependent Children Pension" />
          <p>Children Pension</p>
        </a>
      </div> -->
    </div>
    <div class="item-list list-3">
      <!-- <div class="item" style="background-color: rgb(239, 248, 253)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/BirthCertificate.png" alt="Birth/Death Certificate" />
          <p>Birth/Death Certificate</p>
        </a>
      </div> -->

      <div class="item" style="background-color: rgb(253, 247, 231)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/Medical.png" alt="Medical Services" />
          <p>Medical Services</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(253, 247, 231)">
        <a href="https://powermin.gov.in/en/content/power-grid" target="_blank">
          <img src="../../assets/Weather2.png" alt="Weather Updates" />
          <p>Weather Updates</p>
        </a>
      </div>
    </div>
  </div>
</div>